spring:
  application:
    name: e-store

  datasource:
    url: ${DATABASE_URL}
    username: ${USER_NAME}
    password: ${PASSWORD}
    driver-class-name: ${DATABASE_DRIVER}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        generate_statistics: true





  graphql:
    # Enable GraphiQL UI
    graphiql:
      enabled: true
      path: /graphiql

    # GraphQL endpoint
    path: /graphql

    # Schema location - THIS IS CRITICAL
    schema:
      locations: classpath:graphql/**/*.graphql
      file-extensions: .graphql
      printer:
        enabled: true

    # Enable introspection for GraphiQL
    schema-introspection:
      enabled: true

  thymeleaf:
    check-template-location: false

logging:
  level:
    root: INFO
    com.smart_ecomernce_api: DEBUG
    org.hibernate.tool.schema: ERROR
    org.springframework.graphql: DEBUG
    org.springframework.web: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

server:
  port: 9190
  servlet:
    context-path: /api
  forward-headers-strategy: framework

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
    version: OPENAPI_3_0
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha